* {
    margin: 0;
    padding: 0;
    border: 0;
}

.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.center {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

/*First Container*/

.first-container header {
    height: 70px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #e3e3e3;
}

.first-container header .nav-content nav,
.first-container header .nav-content .right-side {
    width: 45%;
}

.first-container header .nav-content {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.first-container header .nav-content nav ul {
    width: 337px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-family: 'Noto Sans';
}

.first-container header .nav-content nav ul li a {
    font-size: 16px;
    text-decoration: none;
    line-height: 150%;
    letter-spacing: -0.05em;
    color: #1d1c1f;
}

.first-container header .nav-content .logo {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 35px;
    line-height: 69%;
    color: #1d1c1f;
}

.first-container header .nav-content .right-side {
    display: flex;
    justify-content: flex-end;
}

.first-container header .nav-content .right-side .right-elements {
    width: 408px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto;
}

.first-container header .nav-content .right-side .right-elements .search-bar input {
    width: 214px;
    height: 43px;
    border: 1px solid #e3e3e3;
    border-radius: 21px;
    background-color: #f5f5f5;
    padding-left: 16px;
    font-size: 16px;
    line-height: 150%;
}

.first-container header .nav-content .right-side .right-elements .search-bar input::-ms-input-placeholder {
    /* Edge 12-18 */
    color: #828282;
}

.first-container header .nav-content .right-side .right-elements .search-bar input::placeholder {
    color: #828282;
}

.first-container header .nav-content .right-side .right-elements .search-bar span {
    margin-left: -35px;
    position: relative;
    top: 2px;
}

.first-container header .nav-content .right-side .right-elements .login a {
    text-decoration: none;
    background-color: #274156;
    padding: 12px 22px;
    border-radius: 30px;
    box-shadow: 0 3px 7px 0 rgba(39, 65, 86, 0.15);
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}

.first-container header .nav-content .right-side .right-elements .login a img {
    margin-right: 8px;
    vertical-align: sub;
}

.first-container header .nav-content .right-side .right-elements .cart {
    margin-left: 14px;
}

.first-container .main-slider .slide-item img {
    height: 690px;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center 14%;
}

.first-container header .nav-content nav .burger {
    display: none;
}


/*Selling Container*/

.container-selling .sub-title span {
    font-family: 'Swagger TTF';
    font-size: 131px;
    color: #1d1c1f;
    opacity: 0.05;
}

.container-selling {
    margin-top: 60px;
    margin-bottom: 130px;
}

.container-selling .sub-title {
    text-align: center;
}

.container-selling .sub-title h4 {
    font-family: "Noto Serif";
    font-weight: bold;
    font-size: 34px;
    color: #274156;
    margin-top: calc(-57px - 46px);
}

.container-selling .sub-title h4::before {
    content: '';
    display: inline-block;
    height: 1px;
    width: 30px;
    background-color: #274156;
    margin-right: 20px;
    vertical-align: super;
}

.container-selling .sub-title h4::after {
    content: '';
    display: inline-block;
    height: 1px;
    width: 30px;
    background-color: #274156;
    margin-left: 20px;
    vertical-align: super;
}

.container-selling .selling-items .selling-left {
    width: 580px;
    height: 580px;
}

.container-selling .selling-items .selling-left>img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center -15px;
}

.container-selling .selling-items .selling-left .number img {
    width: 17px;
    height: 24px;
}

.container-selling .selling-items .selling-left .number {
    margin-top: calc(-100% + 17px);
    margin-left: 15px;
}

.container-selling .selling-items {
    display: flex;
    justify-content: space-between;
    margin-top: calc(-430px - 75px);
}

.container-selling .selling-items .selling-vertical {
    width: 580px;
    height: 580px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.container-selling .selling-items .selling-vertical .second-item {
    width: 580px;
    height: 285px;
}

.container-selling .selling-items .selling-vertical .second-item>img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 90%;
}

.container-selling .selling-items .selling-vertical .second-item .number {
    margin-top: calc(-50% + 22px);
    margin-left: 16px;
}

.container-selling .selling-items .selling-vertical .second-item .number img {
    width: 17px;
    height: 24px;
}

.container-selling .selling-items .selling-vertical .third-item,
.container-selling .selling-items .selling-vertical .fourth-item {
    width: 285px;
    height: 285px;
}

.container-selling .selling-items .selling-vertical .third-item>img,
.container-selling .selling-items .selling-vertical .fourth-item>img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}


.container-selling .selling-items .selling-vertical .third-item .number,
.container-selling .selling-items .selling-vertical .fourth-item .number {
    margin-top: calc(-100% + 16px);
    margin-left: 16px;
}

.container-selling .selling-background {
    width: 100%;
    height: 430px;
    background-color: rgba(242, 237, 234, 0.6);
    margin-top: 164px;
}

footer {
    background-color: #274156;
}

footer .footer-top {
    display: flex;
}

footer .footer-top>div {
    width: 25%;
    padding-top: 60px;
    padding-bottom: 44px;
}

footer .footer-top>div .footer-sub-title {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    color: #FFF;
    padding-bottom: 21px;
}

footer .footer-top>div .footer-descr {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 150%;
    color: #fff;
}

footer .footer-top>div .footer-descr a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}

footer .footer-top>div .footer-descr .mobile-active {
    display: none;
}

footer .footer-top .fourth-item .soc-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    margin-top: 3px;
    list-style-type: none;
}

footer .footer-border {
    border-top: solid 1px rgba(255, 255, 255, 0.3);
}

footer .footer-bottom {
    padding-top: 60px;
    padding-bottom: 63px;
    text-align: center;
}

footer .footer-bottom p {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 150%;
    color: #fff;
}

footer .footer-bottom p a {
    color: #fff;
    text-decoration: none;
}


@media screen and (max-width: 1200px) {
    .center {
        width: 95%;
    }

    .container-selling .selling-items .selling-left {
        width: calc(50% - 5px);
        height: calc(47.5vw - 5px);
    }

    .container-selling .selling-items .selling-vertical {
        width: calc(50% - 5px);
        height: calc(47.5vw - 5px);
    }

    .container-selling .selling-items .selling-vertical .third-item,
    .container-selling .selling-items .selling-vertical .fourth-item {
        width: calc(50% - 5px);
        height: calc(23.25vw - 5px);
    }

    .container-selling .selling-items .selling-vertical .second-item {
        height: calc(23.25vw - 5px);
    }

    .container-selling .selling-background {
        visibility: hidden;
    }

    .container-selling .selling-items .selling-left .number {
        /* margin-top: calc(-580px + 17px); */
        display: none;
    }

    .container-selling .selling-items .selling-vertical .second-item .number {
        /* margin-top: calc(-285px + 22px); */
        display: none;
    }

    .container-selling .selling-items .selling-vertical .third-item .number,
    .container-selling .selling-items .selling-vertical .fourth-item .number {
        /* margin-top: calc(-285px + 16px); */
        display: none;
    }

    .container-selling .selling-items .selling-left>img {
        object-position: center 0;
    }
}

@media screen and (max-width: 1024px) {
    .first-container header .nav-content nav ul {
        display: none;
    }

    .first-container header .nav-content nav .burger {
        display: block;
    }

    .first-container header .nav-content .right-side .right-elements .search-bar {
        display: none;
    }

    .first-container header .nav-content .right-side .right-elements .login {
        display: none;
    }

    .first-container header .nav-content .right-side .right-elements {
        justify-content: flex-end;
        width: auto;
    }

    .first-container .main-slider .slide-item img {
        height: 746px;
    }

    footer .footer-top>div {
        padding-right: 10px;
    }
}

@media screen and (max-width: 768px) {
    footer .footer-top {
        flex-wrap: wrap;
    }

    footer .footer-top>div {
        width: 50%;
        box-sizing: border-box;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    footer .footer-bottom {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 600px) {
    .center {
        width: calc(100% - 40px);
    }

    .first-container header {
        height: 60px;
    }

    .first-container header .nav-content .logo {
        font-size: 20px;
        line-height: 120%;
    }

    .container-selling .selling-items {
        width: 100%;
        flex-wrap: wrap;
    }

    .container-selling .selling-items .selling-vertical .second-item {
        display: none;
    }

    .container-selling .selling-items .selling-left {
        width: 100vw;
        height: 100vw;
    }

    .container-selling .selling-items .selling-vertical .third-item,
    .container-selling .selling-items .selling-vertical .fourth-item {
        width: 100vw;
        height: 100vw;
    }

    .container-selling .selling-items .selling-vertical {
        width: 100vw;
        height: auto;
        overflow: hidden;
    }

    .container-selling .selling-items .selling-vertical .fourth-item {
        overflow: hidden;
    }

    .container-selling .selling-items .selling-vertical .fourth-item>img {
        transform: scale(1.5);
        object-position: center 16vw;
    }

    footer .footer-top>div {
        width: 100%;
        padding-top: 0px;
    }

    footer .footer-top>div .footer-descr .desktop-active {
        display: none;
    }

    footer .footer-top>div .footer-descr .mobile-active {
        display: inline;
    }

    footer .footer-top .first-item {
        padding-top: 30px;
        padding-bottom: 12px;
    }

    footer .footer-top>div .footer-sub-title {
        padding-bottom: 12px;
    }

    footer .footer-top .second-item {
        padding-bottom: 9px;
    }

    footer .footer-top .third-item {
        padding-bottom: 12px;
    }

    footer .footer-top .fourth-item {
        padding-bottom: 30px;
    }

    footer .footer-bottom {
        text-align: left;
    }
}